{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
        {% block title %}
            Def title
        {% endblock %}
    </title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand bg-dark">
            <a class="navbar-brand logo" href="#">LOGO</a>
            <ul class="navbar-nav menu">
                <li class="nav-item">
                    <a href="{% url 'post_list_url' %}" class="nav-link">Posts</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'tag_list_url' %}" class="nav-link">Tags</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Link 3</a>
                </li>
            </ul>
            <form class="form-inline search" action="#" method="post">
                <input class="form-control mr-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </nav>
        {% block content %}
        {% endblock %}
        </div>
    </div>
</body>
</html>
